body {
  padding-top: 70px;
  background-image: url('../images/background.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  font-family: 'Segoe UI', sans-serif;
}




.main-content h1 {
  font-size: 3rem;
  font-weight: bold;
}

footer {
  background-color: rgba(0, 0, 0, 0.4);
  padding: 10px;
  position: fixed;
  bottom: 0;
  width: 100%;
}
